<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-light bg-light">
                <a href="/" class="navbar-brand">Logo</a>
                <a href="#" class="nav-item nav-link">navigation</a>
            </nav>
        </header>


        <main>

            <section>
                <form class="form-submit">

                    <div class="row">
                        <div class="col-10">
                            <input id="name" class="form-control" type="text" name="input" value="" placeholder="Name">
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-primary" name="input-name" value="submit">
                        </div>
                    </div>
                </form>
                <br>
                <section>
                    <strong>Form Results:</strong>
                    <div id="results">
                    </div>
                </section>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    </div>
</body>

</html>